<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only"  name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      New Orders
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>
     <ion-item>
       <ion-card>

       </ion-card>
     </ion-item>
   </ion-list>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="presentAddModal()" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
